[project]
	description = DiSNI: Direct Storage and Networking Interface
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonas Pfefferle (PepperJo)
	read = group ZRLIO_BOTS
[access "refs/for/refs/*"]
	read = group user/Jonas Pfefferle (PepperJo)
	push = group user/Jonas Pfefferle (PepperJo)
	label-Code-Review = -2..+2 group user/Jonas Pfefferle (PepperJo)
	label-Verified = -1..+1 group user/Jonas Pfefferle (PepperJo)
	rebase = group user/Jonas Pfefferle (PepperJo)
	removeReviewer = group user/Jonas Pfefferle (PepperJo)
	submit = group user/Jonas Pfefferle (PepperJo)
[access "refs/heads/*"]
	read = group user/Jonas Pfefferle (PepperJo)
	create = group user/Jonas Pfefferle (PepperJo)
	push = +force group user/Jonas Pfefferle (PepperJo)
	pushMerge = group user/Jonas Pfefferle (PepperJo)
	label-Code-Review = -1..+1 group ZRLIO_BOTS
	label-Verified = -1..+1 group ZRLIO_BOTS
	labelAs-Code-Review = -2..+2 group zrlio
	labelAs-Verified = -1..+1 group zrlio
[access "refs/tags/*"]
	push = group user/Jonas Pfefferle (PepperJo)
	push = +force group user/Jonas Pfefferle (PepperJo)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	rejectImplicitMerges = true
[submit]
	action = rebase always
