[project]
	description = DiSNI: Direct Storage and Networking Interface
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonas Pfefferle (PepperJo)
[access "refs/for/refs/*"]
	read = group user/Jonas Pfefferle (PepperJo)
	push = group user/Jonas Pfefferle (PepperJo)
	label-Code-Review = -2..+2 group user/Jonas Pfefferle (PepperJo)
	label-Verified = -1..+1 group user/Jonas Pfefferle (PepperJo)
	rebase = group user/Jonas Pfefferle (PepperJo)
	removeReviewer = group user/Jonas Pfefferle (PepperJo)
	submit = group user/Jonas Pfefferle (PepperJo)
[access "refs/heads/*"]
	read = group user/Jonas Pfefferle (PepperJo)
	create = group user/Jonas Pfefferle (PepperJo)
	push = +force group user/Jonas Pfefferle (PepperJo)
	pushMerge = group user/Jonas Pfefferle (PepperJo)
[access "refs/tags/*"]
	push = group user/Jonas Pfefferle (PepperJo)
	push = +force group user/Jonas Pfefferle (PepperJo)
